@import "../../global.scss";
 
.works {

  background-color: #1578ea;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .skill-title {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .skill-title::before,
  .skill-title::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid white;
  }
  
  .skill-title:not(:empty)::before {
    margin-right: .25em;
  }
  
  .skill-title:not(:empty)::after {
    margin-left: .25em;
  }

  h1 {
    overflow: hidden;
    text-align: center;
    margin-top: 3vh;
    color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    margin-bottom: 4vh;
    width: 80%;
    @include mobile{
     margin-bottom: 0vh;
    }
     
  }
  
  
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
   
    @include mobile {
       height: 30px;
    }

    &.left {
      left: 10px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 10px;
       
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 430px;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 80%;
          height: 400px;
          margin: 15px 0;
        }

        .left {
          flex: 5;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include mobile {
            width: 100%;
            // margin: 15px 0;
          }
  
          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: rgb(121, 171, 246);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 40px;
                height: 40px;
              }

              img {
                width: 35px;

                @include mobile {
                  width: 25px;
                }
              }
            }
            h2 {
              font-size: 20px;

              @include mobile{
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;
              @include mobile{
                 font-size: 11px;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
            @include mobile{
              height: 30%;
            }
          }
        }
      }
    }
  }
}